.form__products--add, .form__category--add {
    
    width: 70%;
    margin: 0 auto;

    * {
        margin-top: 1rem;
    }

    input {
        width: 75% ;
        padding: .5rem;
        font-size: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.123);
        border-radius: 5px;
    }

    input:focus {
        outline: none;
        border-color: #719ECE;
        box-shadow: 0 0 10px #719ECE;
    }

    span {
        font-size: .8rem;
        color: red;
        margin-left: 1rem;
    }

    button {
        width: 50%;
        margin-left: 5rem;
    }

    textarea {
        width: 75%;
        line-height: 1rem;
        padding: 1rem;
        font-size: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.103);
        border-radius: 5px;
    }

     textarea:focus {
        outline: none;
        border-color: #719ECE;
        box-shadow: 0 0 10px #719ECE;
     }
}
