.form__products--add, .form__category--add {
    
    width: 70%;
    margin: 0 auto;

    * {
        margin-top: 1rem;
    }

    input {
        width: 75% ;
        padding: .5rem;
        font-size: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.123);
        border-radius: 5px;
    }

    input:focus {
        outline: none;
        border-color: #719ECE;
        box-shadow: 0 0 10px #719ECE;
    }

    span {
        font-size: .8rem;
        color: red;
        margin-left: 1rem;
    }

    button {
        width: 50%;
        margin-left: 5rem;
    }

    textarea {
        width: 75%;
        line-height: 1rem;
        padding: 1rem;
        font-size: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.103);
        border-radius: 5px;
    }

     textarea:focus {
        outline: none;
        border-color: #719ECE;
        box-shadow: 0 0 10px #719ECE;
     }

     select {
         width: 75%;
         height: 43px;
         border: 1px solid rgba(0, 0, 0, 0.116);
         outline: none;
         border-radius: 5px;

         padding: 0 .3rem;
         font-size: 1rem;
         color: rgba(0, 0, 0, 0.65);
     }

     select > option {
         font-size: 1rem;
         padding: 1rem 0.5rem;
     }
}

.admin__button--logout {
    border: none;
    background-color: #3f51b5;
    outline: none;
    margin-left: 1.5rem;
    padding: 0 0.5rem;
    color: white;
    font-size: 1.1rem;
}

.admin__button--logout:hover, .admin__button--logout:active {
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 0 5px white;
    color: rgba(190, 6, 6, 0.753);
    transition: all .2s;
    background-color: white;
}

.makeStyles-container-13 {
    padding-bottom: 0px;
}


.MuiDataGrid-columnHeader--alignCenter .MuiDataGrid-columnHeader .MuiDataGrid-columnHeaderCheckbox {
    display: none;
}